<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testando EJS</title>
</head>
<body>
    <h1>Aprendendo EJS</h1>

    <div>
        <% livros.forEach(function(livro) { %>
            <h3>ID: <%= livro.id %><br>Nome: <%= livro.titulo %><br>Tipo <%= livro.tipo %></h3>
        <% }); %>
    </div>
</body>
</html>